  
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.home,
.data,
.settings,
.user,
.dashboard {
  height: 90vh;
  font-size: 3rem;
  background-color: #f4f4f4;
  padding: 3rem 2rem;
}