  
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.settings,
.dashboard {
  height: 90vh;
  background-color: #f4f4f4;
  padding: 3rem 2rem;
}

.user {
  height: 94vh;
  padding: 3rem 2rem;
}

.data {
  height: 90vh;
  font-size: 1rem;
  background-color: #f4f4f4;
  padding: 3rem 2rem;
}

.login, .changepass {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}